#root {
  margin: 0 auto;
  text-align: center;
  background-color: #c8ffbe;
  min-width: 1080px;
  min-height: 520px;
}

.arrow-icon {
  /* Adjust the size as needed */
  transition: transform 0.4s ease; /* Smooth transition for the rotation */
  transform: rotate(270deg); /* Rotate the arrow by 270 degrees */
}

.rotate {
  transform: rotate(90deg); /* Rotate the arrow by 180 degrees */
}
